@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

header {
    background-color: #eddfca;
    display: inline-block;
    margin: auto;
    width: 100%;
    margin-bottom: 4em;
}
  
header nav {
  width: 100%;
  height: 48px;
background-color: #4f3126;
font-family: "Neuton", Open-Sans;
  font-size: 1.25em;
text-align: center;
}

nav button a{
  color: white;
  text-align: center;
font-size: 1em ;
}
 
button{
    background-color: #4f3126;
    height: 3.5em;
    width: 8.5em;
    border: 2px solid #291f1c;
    box-shadow: inset 0 0 1em #291f1c;
    margin-right: -5px;
}

button:hover {
    background-color: #6b493d;
    box-shadow: 0 0 1em black;
}

body{
  margin: 0px;
}

p{
    margin: 0;
}


a{
  text-decoration: none;
}


.container{
  text-align: center;
  max-width: 900px;
  margin: 0 auto;
  padding: 1.5em;
  margin-bottom: 4em;
}

.boite{
  margin: 1em;
  display: inline-block;
  border: 2px solid #000000;
  border-radius: 3px;
  padding: 1em;
 
}

.boite a h2{
  font-family: 'Neuton', serif;
  font-size: 1.5em;
  text-align: center;
  margin-top: 0;
  margin-bottom: 1em;
  color: #4f3126;
}

.boite:hover {
  box-shadow: 0 0 1em black;
}

img{
  margin-top: 1em;
  margin-right: 1em;
  margin-left: 1em;
  width: 18em;
  max-height: auto;
  padding-bottom: 1em;
}

h1{
  text-align: center;
}

h1 a{
    font-family: "Lato", Open-Sans;
    font-size: 1.5em;
  color: #4f3126;
}

footer {
    display: inline-block;
    width: 100%;
    background-color: #4f3126;
  color: #fff;
    text-align: center;
    padding: 1em;
    position: fixed;
    bottom: 0;
}

footer p{
    font-family: "Neuton", Open-Sans;
  font-size: 1em;
}
