/*
 Règle CSS de base et pour mobile
*/
html {
    box-sizing: border-box;
    font-family: "Noto Sans TC", Open-Sans;
    font-size: 0.75em;
}

*, *::before, *::after {
    box-sizing: inherit;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../img/header-img.jpg");
    background-size: cover;
    height: 25em;
}

h1{
    color: white;
    font-family: "Noto Sans JP";
    font-size: 2.5em;
    text-shadow: 0 0 10px black,0 0 10px black, 0 0 10px black ;
    text-align: center;
}

h2{
    color: white;
    font-family: "Noto Sans JP", Open-Sans;
    font-size: 1.25em;
}

aside {
    position: sticky;
    top: 0;
    background-color:  #292955;
    width: 5em;
    flex-direction: column;
    padding-right: 1em;
}

aside a img{
    padding-top: 1em;
    padding-bottom: 1em;
    filter: invert(1);
    margin-right: 1em;
    vertical-align: middle;
}

aside ul{
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin-left: 0;
    padding-left: 1em;
}

.advert{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 6em;
}

aside li{
    border-top: 1px solid white;
}
aside ul li a span{ 
    display: none;
    }

aside a{
        text-decoration: none;
        color: white;
    }
    
main{
        flex: 1;
    }
    
body{
        margin: 0px;
    }
    
.page-wrapper {
        display: flex;
        flex-direction: row;
        min-height: 100vh;
    }

.advert{
        display: flex;
        flex-direction: column;
    }
       
.content-wrapper{
        display: flex;
        flex-direction: column;
    }

.galerie {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        max-width: 40em;
        margin: 0 auto;
        justify-content: center;
        padding: 6em;
    }
    
.galerie img{
        margin: .2em;
        padding: .5em;
        object-fit: cover;
        height: 10em;
        width: 10em;
    }

.winter{
        background:radial-gradient(#292955, #0b0b1a);
        align-items: center;
        padding: .75em 1em .75em 1em;
    }
    
.sled{
        margin: 0;
        background:radial-gradient(#3f5aa3, #1b284e);
        padding: .75em 1em .75em 1em;
     
    }
    
.sled p, .winter p{
        color: white;  
        max-width: 90em;
    }
    
footer{
        background-color:  #5394d1;
        display: flex;
        flex-direction: column;
        padding: 1em  0 1em 0;
        height: 6em;
        align-items: center;
        color: white;
    }
    
footer span{
        text-align: center;
        padding-top: 0.5em;
    }
    
/*
 Règle à ajouter pour tablette électronique
*/
@media (min-width: 700px){

aside ul li:first-child{ 
    display:none; }

.page-wrapper {
        min-height: 100vh;
    }
    
main {
        flex: 1;
    }
    
aside ul li a span{ 
        display: none;
        }

aside {
        background-color:  #292955;
        width: 5em;
        flex-direction: column;   
        height: 100vh;
    }   

.advert{
        display: flex;
        flex-direction: row;
        margin-bottom: 6em;
    }

.galerie{
        max-width: 60em;
        padding: 6em;
    }   
}

/*
 Règle à ajouter pour ordinateur
*/
@media (min-width: 1200px){

.page-wrapper {
        min-height: 100vh;
    }
    
main {
        flex: 1;
    }

.advert{
        display: flex;   
    }

aside ul li a span{ 
       display: contents;
        }
    
aside ul li:first-child{ 
            display:none; }

aside{ 
        background-color:  #292955;
        width: 50em;
        flex-direction: column;
        height: 100vh;
    }

.advert{
        display: flex;
        flex-direction: row;
        margin-bottom: 6em;
    }
    
.galerie {
        max-width: 60em;
        padding: 6em;
    }
    
}
